# Metric 3

## Aggregate Household Income (2015)

In [46]:
import pandas as pd

This metric was chosen to help us decide on the most bountiful areas to be a criminal.  After all, if you're not doing much, you're not being very successful are you?

In [47]:
# load in the Pittsburgh facility data file
money = pd.read_csv("aggregate-household-income-in-the-past-12-months-in-2015-inflation-adjusted-dollars.csv", index_col="Id")

# look at 5 rows of data
money.head()

,Neighborhood,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars),Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id,,,
1,Allegheny Center,39947000,6437773
2,Allegheny West,23793300,22025939
3,Allentown,38303700,7490207.043
4,Arlington,35349900,6140662.723
5,Arlington Heights,2389600,1162393

Just like with the first one, let's check and get rid of the unnecessary columns we don't need.

In [48]:
print(money.columns)

Index(['Neighborhood',
       'Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)',
       'Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)'],
      dtype='object')

In [49]:
money.columns = ['Neighborhood',
       'Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)',
       'Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)']
money = money.drop(columns = ['Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)'])
print(money)

           Neighborhood  \
Id
1      Allegheny Center
2        Allegheny West
3             Allentown
4             Arlington
5     Arlington Heights
..                  ...
87  Upper Lawrenceville
88             West End
89         West Oakland
90             Westwood
91              Windgap

   Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id
1                                            39947000
2                                            23793300
3                                            38303700
4                                            35349900
5                                             2389600
..                                                ...
87                                           65738500
88                                            3615800
89                                           16339500
90                                           91857100
91                                           34609300

[91 rows x 2 columns]

Okay, now we have the smallest amount of necessary columns.  From here we will arrange them from wealthiest to least wealthy.

In [50]:
money = money.dropna()

In [51]:
money_data = money.sort_values("Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)", ascending = True)
money_data.head(10)

,Neighborhood,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id,,
72,South Shore,-
22,Chateau,-
70,Sheraden,101081700
62,Perry North,104107900
7,Bedford Dwellings,10529100
15,California-Kirkbride,10718900
11,Bluff,11005200
43,Homewood West,11290000
29,East Liberty,115711700
57,North Oakland,123408700

That doesn't look right and on further inspection of the csv, we can see that the South Shore and Chateau neighborhoods have ** in place of a value.  Let's get rid of them, as they do not count.

In [52]:
money_data = money_data.drop(labels=[22,72], axis=0)

Now, because I didn't know what I was getting into with this dataset, there were A LOT of issues.  One of which being that the column I am attempting to sort, isn't classified as an int value (I think it might have been due to the ** ).

In [55]:
money_data["Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)"] = money_data["Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)"].astype(int)

Now when it is printed, it displays the neighborhood with the most wealth and the least.

In [54]:
money_data.sort_values('Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)', ascending = False)

,Neighborhood,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id,,
78,Squirrel Hill South,659886300
69,Shadyside,605635700
77,Squirrel Hill North,577467500
14,Brookline,366945900
64,Point Breeze,314958500
...,...,...
31,Esplen,5433900
36,Glen Hazel,4773300
79,St. Clair,3867600
88,West End,3615800
5,Arlington Heights,2389600

Criminals would want to go to Squirrel Hill South.